.previewContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;

  .preview {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .export-btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.download-section {
  > div {
    flex: 1 1 0%;
    text-align: center;

    > a {
      font-weight: bold;
      border: 2px solid;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      border-radius: 50% !important;
    }
  }
}

.modal-backdrop.show {
  opacity: 1 !important;
}

.modal-title {
  width: 100%;
  text-align: center;
  margin-left: 40px;
}

.modal-body {
  padding: 2rem 1rem;
}

.modal-header .close {
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
}
