.previewContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;

  .preview {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .export-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    font-weight: bold;
    width: 100px;
    z-index: 60;

    &:hover,
    &:focus,
    &:active {
      background-color: #dc3545;
      color: #ffffff;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 50;
  }
}

.download-section {
  > div {
    flex: 1 1 0%;
    text-align: center;

    > a {
      font-weight: bold;
      border: 2px solid;
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;

    > div {
      flex: 0 0 100%;

      > a {
        width: 80%;
      }

      &:not(:last-child) {
        > a {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.modal-content {
  border-radius: 0 !important;
}

.modal-backdrop.show {
  opacity: 0.85 !important;
}

.modal-title {
  width: 100%;
  text-align: center;
  margin-left: 40px;
}

.modal-body {
  padding: 0rem 0rem 2rem 0rem;
}

.modal-header .close {
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
}

.export-preview-img-container {
  padding: 2rem 0rem;
  margin-bottom: 2rem;
  background-color: #eeeeee;
  border-bottom: 1px solid #e0e0e0;

  .export-preview-img {
    max-width: 200px;
    display: block;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }
}
