.add-to-home-prompt {
  z-index: 9999999;
  position: absolute;
  top: 100%;
  bottom: unset;
  width: 100%;
  max-width: 100%;
  transition: all 0.25s ease-in-out;

  .toast-header {
    padding: 1rem;
  }

  .toast-logo {
    width: 25px;
    margin-right: 1rem;
  }

  .toast-body {
    text-align: right;
    padding-right: 2rem;
    background-color: #fffefe;
  }

  &.fade:not(.show) {
    display: none !important;
  }

  &.show {
    display: block !important;
    top: unset;
    bottom: 0%;
  }

  @media (min-width: 769px) {
    display: none !important;
    top: 100% !important;
    bottom: unset;

    &.show {
      display: none !important;
      top: 100% !important;
      bottom: unset;
    }
  }
}
