.add-to-home-prompt {
  z-index: 9999999;
  position: absolute;
  bottom: 0%;
  width: 100%;
  max-width: 100%;

  .toast-header {
    padding: 1rem;
  }

  .toast-logo {
    width: 25px;
    margin-right: 1rem;
  }

  .toast-body {
    text-align: right;
    padding-right: 2rem;
    background-color: #fffefe;
  }
}

.fade:not(.show) {
  display: none !important;
}

.toast.show {
  display: block !important;
}
